@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floating-animation {
  animation: floating 3s ease-in-out infinite;
}

.rotate-animation {
  animation: rotate 20s linear infinite;
}